.features {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        padding: 40px 0;
        width: 100%;
        background: #fff;

        &__container {
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-wrap: wrap;
        }

        &__item {
                margin: 0 auto;
                display: flex;
                flex-direction: column;
                position: relative;
                text-align: center;
                width: 200px;
                height: 200px;

                &::after {
                        content: '';
                        position: absolute;
                        right: -20px;
                        top: 0;
                        height: 100%;
                        border: 1px solid #f4f4f4;
                }

                &:last-child::after {
                        border: none;
                }



                img {
                        align-self: start;
                        margin: 0 auto;
                        margin-bottom: 20px;
                        height: 60px;
                        width: 60px;
                }
        }

        &__title {
                letter-spacing: 1px;
                font-size: 14px;
                text-transform: uppercase;
                font-weight: 600;
                margin-bottom: 15px;
        }

        &__subtitle {
                font-size: 12px;
                font-weight: 600;
        }
}