.form {
        position: relative;

        &__container {
                padding: 50px 100px;
                background: linear-gradient(to right, #172238 0%, #395585 50%, #172238 100%);
                display: flex;
                flex-direction: column;
                width: 880px;
                margin: 0 auto;


        }

        &-item {
                display: flex;
                // justify-content: space-between;
                padding: 5px 0;
                color: #fff;
        }

        &__label {
                color: #fff;
                font-size: 12px;
                text-transform: uppercase;
                margin-bottom: 0;
                margin-right: 50px;
                width: 250px;
        }

        &__input {
                border-radius: 0;
                background: transparent;
                border: 1px solid #fff;
                height: 50px;
                width: 100%;
                padding: 15px;
                color: #fff;
                font-size: 16px;



                &-text {
                        resize: none;
                        height: 100px;
                }
        }

        // Убираем дефолтный инпут загрузки файла и стилизуем лейбл

        input[type='file'] {
                display: none;
        }

        &__file {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 50px;
                width: 180px;
                background: transparent;
                border: 1px dashed #fff;
                margin-bottom: 0;
                font-weight: 300;
        }

        &__btn {
                margin: 0 auto;
                margin-top: 10px;
                height: 50px;
                width: 370px;
        }

        &__policy {
                position: relative;
                display: flex;
                justify-content: center;
                font-size: 13px;
                color: #fff;
                font-weight: 300;
                padding-left: 25px;
                position: relative;
                margin-bottom: 7px;
                margin-top: 20px;

                a {
                        color: #fff;
                        font-weight: 300;
                        text-decoration: underline;
                }
        }

        &__checkbox {
                position: absolute;
                bottom: 110px;
                z-index: -1;
                opacity: 0;

                &+label {
                        display: inline-flex;
                        align-items: center;
                        user-select: none;
                }

                &+label::before {
                        content: '';
                        display: inline-block;
                        width: 16px;
                        height: 16px;
                        flex-shrink: 0;
                        flex-grow: 0;
                        border: 1px solid #adb5bd;

                        margin-right: 0.5em;
                        background-repeat: no-repeat;
                        background-position: center center;
                        background-size: 50% 50%;
                }

                &:checked+label::before {
                        border-color: #fff;
                        background-color: transparent;
                        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
                        background-size: contain;
                }
        }

        &__btn {
                color: #fff;
                font-weight: 500;
                background: #da000b;
                transition: .2s linear;
                border: none;

                &:focus {
                        outline: none;
                }

                &:hover {
                        background: #ff1723;
                }
        }
}