.slider {
        position: relative;
        margin: 0 25px;
        margin-top: 70px;

        .slick-back,
        .slick-forward {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                background: #888888;
                height: 300px;
                width: 50px;
                border: 0;
                z-index: 9;
                transition: .2s linear;

                &::before {
                        content: '';
                        position: absolute;
                        left: 22px;
                        height: 11px;
                        width: 11px;
                        border-bottom: 3px solid #fff;
                        border-left: 3px solid #fff;
                        transform: rotate(45deg);
                }

                &:hover {
                        background: rgb(187, 185, 185);
                }

                &:focus {
                        outline: none;
                }
        }

        .slick-back {
                left: -50px;

        }

        .slick-forward {
                position: absolute;
                right: -50px;

                &::before {
                        position: absolute;
                        left: 18px;
                        transform: rotate(-135deg);
                }
        }

        &-item {
                position: relative;
                height: 715px;
                width: 100%;


                &-status {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        text-transform: uppercase;
                        font-size: 12px;
                        position: absolute;
                        top: 20px;
                        left: 20px;
                        height: 70px;
                        width: 70px;
                        z-index: 1;
                        font-weight: 600;

                        &__wrapper {
                                position: absolute;
                                top: 0;
                                left: 0;
                                display: grid;
                                grid-template-columns: 1fr;
                                grid-template-rows: repeat(3, 70px);

                        }

                        &-new {
                                grid-row: 2 / 3;
                                background: #fff;
                        }

                        &-discount {
                                grid-row: 1 / 2;
                                color: #fff;
                                background: #c2242d;
                        }

                }



                &:hover {
                        .slider__btn {
                                transform: translateY(101%);
                                transform: translateX(-50%);
                                opacity: 1;
                        }
                }

                &:focus {
                        outline: none;
                }
        }


        &__info {
                position: absolute;
                bottom: 50px;
                left: 15px;
                padding: 20px 30px 25px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                background: #fff;
                width: 340px;
                height: 180px;
                text-align: center;
                z-index: 2;
        }

        &__title {
                color: #9b9b9b;
                text-transform: uppercase;
                letter-spacing: 3px;
                font-size: 12px;
        }

        &__descr {
                line-height: 18px;
                font-weight: 600;
        }

        &__vendor {
                margin-top: 5px;
                opacity: .8;
                font-size: 12px;
        }


        &__price {
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 24px;
                color: #b98d0f;

                &-old {
                        position: absolute;
                        left: 0;
                        opacity: .6;
                        text-decoration: line-through;
                        font-size: 18px;
                        color: #000;
                }

                &-new {
                        color: #b98d0f;
                        margin: 0 auto;

                }

        }



        &__btn {
                position: absolute;
                background: $main-color;
                border: transparent;
                color: #fff;
                bottom: -10px;
                width: 90%;
                left: 47%;
                transform: translateX(-50%);
                bottom: 51px;
                opacity: 0;
                z-index: 1;
                transition: .5s linear;
        }

}